/* Please ❤ this and follow me if you like it! :D */




/* Main CSS */

html, body
{
	width: 100%;
	height: 100%;
}

body,h1,h2,h3,h4,h5,h6,p
{
	margin: 0;
	padding:0;
}

#full{
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #fff;
  font-size: 20px;

}

nav{
	background-color: #272828 !important;
}

nav .navbar-brand
{
	user-select: none;
	font-size: 40px;
	font-family: 'Righteous', cursive;
	color: #F7BA57 !important;
	float: left;
}

nav .collapse
{
	margin-left: 5%;
}



nav .collapse li:nth-child(1){border-bottom: 4px solid #E2574C;}
nav .collapse li:nth-child(2){border-bottom: 4px solid #599662;}
nav .collapse li:nth-child(3){border-bottom: 4px solid #9B3764;}
nav .collapse li:nth-child(4){border-bottom: 4px solid #829950;}


nav .collapse li:nth-child(1):hover{background-color: #E2574C;}
nav .collapse li:nth-child(2):hover{background-color: #599662;}
nav .collapse li:nth-child(3):hover{background-color: #9B3764;}
nav .collapse li:nth-child(4):hover{background-color: #829950;}


#blue
{
	font-style: normal;
	color: #00BFFF;
	font-size: 48px;
}

#red
{
	font-style: normal;
	color: #DC143C;
	font-size: 48px;
}

.anime
{
	width: 100%;
	height: 800px;
	position: fixed;
	top: 95.2px;
	background-image: url(https://svgshare.com/i/Aun.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.anime h2
{
  user-select: none;
  letter-spacing: 20px;
  white-space: 20px;
  font-size: 45px;
  font-family: 'Bahiana', cursive;
  text-align: center;
  color: #ffffcc;
  margin-top: 70px;
  animation: naslov 2s;

}

#pv
{
    color: #333366;
}

#zv
{
    color: #333366;
}


.main
{
	padding-top: 50px;
	width: 100%;
	height: 2741px;
	/*background-color: #2b3334;*/
	background: #00d2ff;
	background: -webkit-linear-gradient(to bottom, #00d2ff , #3a7bd5);
	background: linear-gradient(to top, #00d2ff , #3a7bd5);
	position: relative;
	top:800px;
	box-shadow: 0px -26px 127px 13px rgba(0,0,0,0.75);
	user-select:none;
}


.home{
	font-family: 'Bahiana', cursive !important;
}

.home .about h1{
	text-align: center;
	letter-spacing: 1px;
	font-size: 85px;
}

.home .about p{
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
}


#footer
{
	position: relative;
	top: 800px;
	background-color: #272828;
	width: 100%;
	font-family: 'Bahiana', cursive;
	font-size: 22px;
	color: #F7BA57;
	text-align: center;
	letter-spacing: 3px;
	padding: 10px 0 10px 0;
	user-select: none;
	overflow: hidden;


}

#footer p
{
	margin-bottom: 14px;


}

#footer input[type="email"]
{
	width: 340px;
	height: 30px;
	border: 4px solid #F7BA57;
	border-radius: 4px 4px 4px 4px;
	font-family: 'Righteous', cursive;
	font-size: 19px;
	color: #272828;
	padding-left: 10px;

}

#footer input[type="email"]:focus
{
	outline:0 !important;
}

#footer input[type="submit"]
{
	font-family: 'Bahiana', cursive;
	color: #ffffff;
	border: 2px solid #F7BA57;
	border-radius: 4px 4px 4px 4px;
	letter-spacing: 5px;
	font-size: 18px;
	background-color: #272828;
	margin-bottom: 25px;
	outline:0 !important;
	cursor: pointer;
	text-align: center;
	transition: color,background-color,border 500ms linear;
}

#footer input[type="submit"]:hover
{
	background-color: rgba(255,255,255,0.8);
	color: #272828;
	border: 2px solid #3399cc;
}

#footer input[type="submit"]:active
{
	border: 2px solid #F7BA57;
	transition: all 0s;
}

#footer img
{
	float: right;
	position: absolute;
	margin-left: 1%;
}

#link
{
	border-top: 1px solid rgba(255,255,255,0.55);
	padding-top: 20px;
	text-align: center;
	margin: 0 auto;
	clear: both;
}
#footer a:link,
#footer a:visited
{
	margin-left: 25px;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 5px;
	font-size: 17px;
}

#footer a:hover
{
	color: silver;
}

#social
{
	color: silver;
	padding: 30px 0 20px 0;


}

#social i
{

	text-align: center;
	font-size: 20px;


}

#social i:nth-of-type(1)
{
	padding-left:0;
}
#social a:link,
#social a:visited
{
	color: gray;
	transition: color 200ms linear;
	margin: 0;

}

#social a:nth-of-type(1):hover{color: #365899;}
#social a:nth-of-type(2):hover{color: #d92e7f;}
#social a:nth-of-type(3):hover{color: #1dcaff;}
#social a:nth-of-type(4):hover{color: #ffffff;}
#social a:nth-of-type(5):hover{color: #ffffff;}


#footer p:nth-of-type(2)
{
	text-align: center;
	color: silver;
	letter-spacing: 4px;
	font-size: 15px;
}font-size: 15px;
}



/* Anime CSS */

@keyframes naslov
{
  0%
  {
     opacity: 0;
  }

  10%
  {
    opacity: 0.1;
  }

  20%
  {
    opacity: 0.2;
  }

  30%
  {
    opacity: 0.3;
  }

  40%
  {
    opacity: 0.4;
  }

  50%
  {
    opacity: 0.5;
  }

  60%
  {
    opacity: 0.6;
  }

  70%
  {
    opacity: 0.7;
  }

  80%
  {
    opacity: 0.8;
  }

  90%
  {
    opacity: 0.9;
  }

  100%
  {
    opacity: 1;
  }

}


#kisiOblak
{
    user-select: none;
	width:100px;
    height:100px;
	z-index: 10;
	position: absolute;
	top: 27%;
	left: 42%;
	animation: kisiOblak 6s infinite;

}


@keyframes kisiOblak {
    0% {
        left:43%;
        top:27%;


    }

    50%
    {
    	 left:41.5%;
        top:27%;
    }

    100% {

    	top: 27%;
		left: 43%;

    }
}





#kapljica1 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:-28%;
    left:50%;

    animation: kapljicaq 2s infinite;

}

@keyframes kapljicaq {


    0% {
        top:30%;
        left:50%;


    }

    100% {
        top:120%;
        left:50%;

        }
}

#kapljica2 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:-28%;
    left:50%;

    animation: kapljicaw 2s infinite;
    animation-delay: 700ms;

}

@keyframes kapljicaw {


    0% {
        top:30%;
        left:49%;


    }

    100% {
        top:120%;
        left:51%;

        }
}

#kapljica3 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:-28%;
    left:52%;

    animation: kapljicae 2s infinite;
    animation-delay: 950ms;

}

@keyframes kapljicae {


    0% {
        top:30%;
        left:50%;


    }

    100% {
        top:120%;
        left:48%;

        }
}

#kapljica4 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:-28%;
    left:50%;

    animation: kapljicar 2s infinite;
    animation-delay: 800ms;

}

@keyframes kapljicar {


    0% {
        top:30%;
        left:50%;


    }

    100% {
        top:120%;
        left:50%;

        }
}

#kapljica5 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:45%;

    animation: kapljicat 2s infinite;
    animation-delay: 800ms;

}

@keyframes kapljicat {


    0% {
        top:30%;
        left:45.2%;


    }

    100% {
        top:120%;
        left:45.2%;

        }
}

#kapljica6 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:46%;

    animation: kapljicay 2s infinite;
    animation-delay: 1s;

}

@keyframes kapljicay {


    0% {
        top:30%;
        left:46%;


    }

    100% {
        top:110%;
        left:46%;

        }
}

#kapljica7 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:45%;

    animation: kapljicau 2s infinite;
    animation-delay: 950ms;

}

@keyframes kapljicau {


    0% {
        top:30%;
        left:45%;


    }

    100% {
        top:110%;
        left:45%;

        }
}

#kapljica8 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:44%;


    animation: kapljicai 2s infinite;
    animation-delay: 1.5s;

}

@keyframes kapljicai {


    0% {
        top:30%;
        left:44%;


    }

    100% {
        top:120%;
        left:44%;

        }
}





#kapljica9 {
    user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:44.6%;


    animation: kapljicao 2s infinite;
    animation-delay: 2s;

}

@keyframes kapljicao {


    0% {
        top:30%;
        left:44.6%;


    }

    100% {
        top:120%;
        left:44.6%;

        }
}

#kapljica10 {
    user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:44.1%;


    animation: kapljicap 2s infinite;
    animation-delay: 2.2s;

}

@keyframes kapljicap {


    0% {
        top:30%;
        left:44.1%;


    }

    100% {
        top:120%;
        left:44.1%;

        }
}

#kapljica11 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:44.8%;


    animation: kapljicaa 2s infinite;
    animation-delay: 2.4s;

}

@keyframes kapljicaa {


    0% {
        top:30%;
        left:44.8%;


    }

    100% {
        top:120%;
        left:44.8%;

        }
}

#zvezda
{
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:0;
    left:0;

    animation: zvezda 50s infinite;



}

@keyframes zvezda {


    0% {

        top:10%;
        left:30%;


    }

    5%

    {
        top:40%;
        left:120%;
    }

    100% {
        top:60%;
        left:500%;


        }

}





#pokretni_oblak1 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:0;
    left: 0;

    animation: pokretniOblak1 90s infinite;
    animation-direction: alternate;
}

@keyframes pokretniOblak1 {
    0% {
        left:-7%;
        top:55%;


    }

    100% {
        left:107%;
        top:50%;


    }
}


#pokretni_oblak2 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:-22%;
    left:-40%;

    animation: pokretniOblak2 70s infinite;
    animation-direction: alternate;
}

@keyframes pokretniOblak2 {
    100% {
        left:-7%;
        top:22%;

    }

    0% {
        left:107%;
        top:20%;

    }
}


#pokretni_oblak3 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:10%;
    left:-40%;

    animation: pokretniOblak3 400s infinite;
    animation-direction: alternate;
}

@keyframes pokretniOblak3 {
    100% {
        left:-200%;
        top:10%;

    }

    0% {
        left:107%;
        top:15%;

    }
}



#pokretni_oblak4 {
     user-select: none;
    width:100px;
    height:100px;
    position:absolute;
    top:62%;
    left:-400%;

    animation: pokretniOblak4 300s infinite;
    animation-direction: alternate;
}

@keyframes pokretniOblak4 {

     100% {
        left:-500%;
        top:62%;


    }


    0% {
        left:107%;
        top:62%;


    }


}

/*profile card*/
.profile-card {
  background: #FFB300;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 250%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

/* flip the pane when hovered */

.profile-card:hover .card,
.profile-card.hover.manual-flip .card {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.profile-card.static:hover .card,
.profile-card.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}

.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during flip */

.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}
/* front pane, placed above back */

.front {
  z-index: 2;
}

.back {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
  z-index: 3;
}

.main-container {
  padding: 100px 0px;
}

/* card container */
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}

body {
    background-color: #2c3e50;
}

.card {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}

.card-container,
.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* back content */

.card .motto {
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.card .footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 95px 0 0;
  padding: 12px 0 0;
  text-align: center;
}

.card .footer .social-links {
  font-size: 18px;
}

.card .footer .social-links a {
  margin: 0 7px;
}

.card .footer .btn-simple {
  margin-top: -6px;
}

.card h5 {
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px;
}

.card h4 {
  height: 20px;
  text-align: center;
}

.card p {
  text-align: center;
}

.card .content {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 10px 20px 20px;
}

.card .content .main {
  min-height: 160px;
}

.card .back .content .main {
  height: 215px;
}

.text-center {
  text-align: center;
}

/*      card content style        */

.title {
  color: #506A85;
  text-align: center;
  font-weight: 300;
  font-size: 44px;
  margin-bottom: 90px;
  line-height: 90%;
}

.title small {
  font-size: 17px;
  color: #999;
  text-transform: uppercase;
  margin: 0;
}

.profile-card header {
  width: 179px;
  height: 280px;
  padding: 40px 20px 30px 20px;
  display: inline-block;
  float: left;
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
  color: #FF5722;
}

.profile-card header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 25px 30px;
}

.profile-card header a:after {
  position: absolute;
  content: "";
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  border: 4px solid #FFFFFF;
  -webkit-transform: scale(0);
  transform: scale(0);
  background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
  background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
  animation: scaleIn 0.3s 3.5s ease forwards;
}

.profile-card header a > img {
  width: 120px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card header a:hover > img {
  -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-bio {
  width: 175px;
  height: 180px;
  display: inline-block;
  float: right;
  padding: 50px 20px 30px 20px;
  background: #FFFFFF;
  color: #333333;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links {
  width: 218px;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 15px 20px;
  background: #FFFFFF;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links li {
  list-style: none;
  margin: -5px 0px 0px 0px;
  padding: 0px;
  float: left;
  width: 25%;
  text-align: center;
}

.profile-social-links li a {
  display: inline-block;
  color: red;
  width: 24px;
  height: 24px;
  padding: 6px;
  position: relative;
  overflow: hidden!important;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-social-links li a i {
  position: relative;
  z-index: 1;
}

.profile-social-links li a img,
.profile-social-links li a svg {
  width: 24px;
}

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}
@-webkit-keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
  @ -webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 15px 20px 30px 20px;
    display: block;
    float: none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
  @ -webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
    }
  }
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
}
